{% extends "html/layout.jinja" %}

{%- block head %}
<link rel="stylesheet" type="text/css" href="/style/error.css" />
{% endblock head %}

{%- block body %}
<h1>{%- if error is defined and error %}{{error}}{%-else%}An error has occurred{%endif%}</h1>
<h2><code class="error">{{code}}</code></h2>
<h2 class="reason">{{reason}}</h2>
<h3><code class="error">{{path}}</code></h3>
{% endblock body %}