{%- extends "html/layout.jinja" %}

{%- block body %}
<h1>Irzean</h1>
<h2 class="tiny">Also known as "Dumping Ground"</h2>

<p>The purpose of this website is to just act as a place for all of my random writings to exist peacefully.</p>
<p>And for some, that's enough. For others, they need to get some attention. So I may link here.</p>
<p>There's a site map <a href="/sitemap.xml" referrerpolicy="no-referrer">somewhere</a>. There's also some random bullshit around. Idk.</p>
<hr />
<details>
  <summary>Nerd Shit</summary>
  <p>The way this site works is that it checks every minute for changes to a git repo, and then pulls those changes
    down whenever it sees them.</p>
</details>
{%- endblock%}
