{%- extends "html/layout.jinja" %}

{%- block body %}
<h1>All Tags</h1>
{%- if tags is defined and tags|length > 0 %}
<h2>These are all in the format of "Name - Amount"</h2>
<ul class="col">
  {%- for (name, amount) in tags|items|sort(attribute="1", reverse=true) %}
  <li><a href="{{ tag_url_for(name) }}" referrerpolicy="noreferrer" target="_self">{{name}}</a> -
    <code>{{amount}}</code>
  </li>
  {%- endfor %}
</ul>
{%- else %}
<h2>There are no tags yet... get Lys on that.</h2>
{%- endif %}
{%- endblock body %}