@use "sass:color" as c;

body,
main {
  background-color: #221924;
  color: #dcb6e4;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  border-bottom: 3px dashed #2c1e2f;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  flex: 1;

  @media screen and (width: 600px) {
    & {
      overflow: wrap;
      overflow-wrap: normal;
      min-width: auto;
      width: auto;
    }
  }

  @media screen and (min-width: 600px) {
    & {
      width: 80%;
      min-width: 600px;
      max-width: 1600px;
    }
  }
}

footer {
  margin-top: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  border-top: 3px dashed #2c1e2f;
}

code {
  border: 0px;
  border-radius: 1em;
  background-color: #480855;
  padding: 0.25em 1.1em;
}

h1 {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

h2 {
  margin-block-start: 0.35em;
  margin-block-end: 0.35em;
}

h3 {
  margin-block-start: 0.45em;
  margin-block-end: 0.45em;
}

p {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

.tiny {
  font-size: 0.25rem;
  height: 0.75rem;

  transition: all ease-in-out 0.25s;

  margin-block-start: 0;
  margin-block-end: 0.25rem;

  &:hover {
    font-size: 0.75rem;
    height: 0.75rem;
    cursor: none;
  }
}

hr {
  width: 80%;
  border: 2px dashed #480855;
  border-radius: 5px;
}

details {
  summary {
    list-style: none;

    text-decoration: wavy underline #9433a7 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &[open] {
    border: 2px dashed #480855;
    background-color: #480855;
    border-radius: 1em;
    padding: 0.25rem;
  }
}

a {
  color: #dcb6e4;
  text-decoration: wavy underline #9433a7 1px;

  transition: all ease-in-out 0.2s;

  &:hover {
    color: c.darken(#dcb6e4, 10%);

    text-decoration-color: c.lighten(#9433a7, 10%);
  }

  &:visited {
    color: #dcb6e4;
  }
}
